logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
.lock-wscript
dist/platforms
dist/www/bundle.js
dist/www/img/MapQuest/*

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules
